[submodule "custom_plugins/kong-plugin-ocsp-stapling"]
	path = custom_plugins/kong-plugin-ocsp-stapling
	url = https://github.com/StuAtKong/kong-plugin-ocsp-stapling.git
[submodule "custom_plugins/kong-plugin-log-filter"]
	path = custom_plugins/kong-plugin-log-filter
	url = https://github.com/KongHQ-CX/kong-plugin-log-filter.git
[submodule "custom_plugins/kong-plugin-udp-gelf-log"]
	path = custom_plugins/kong-plugin-udp-gelf-log
	url = https://github.com/StuAtKong/kong-plugin-udp-gelf-log.git
